<form action="/parcels" method="post">
  <label for="length">Add Weight</label>
  <input for="length" name="length" type="text">
  <label for="width">Add Weight</label>
  <input for="width" name="width" type="text">
  <label for="height">Add Height</label>
  <input for="height" name="height" type="text">
  <label for="weight">Add Weight</label>
  <input for="weight" name="weight" type="text">
  <button type="submit">Submit</button>
</form>